* {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  box-sizing: border-box; }

body {
  color: #fff;
  width: 790px;
  position: relative;
  margin: 0 auto;
  height: 1000px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

.container {
  max-width: 1100px;
  position: relative;
  margin: auto; }

header {
  margin-bottom: 20px;
  background-color: #fff;
  color: #222; }
  header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; }
    header .container .left img {
      height: 110px; }
    header .container .right {
      width: 50%; }
      header .container .right .address .flex {
        display: flex;
        gap: 25px; }
      header .container .right .address h3:first-child {
        position: relative; }
        header .container .right .address h3:first-child:after {
          content: ':-';
          position: absolute;
          top: 0;
          right: -15%; }
      header .container .right .address h3 {
        font-style: italic;
        margin-bottom: 13px; }
      header .container .right .no h3 {
        font-style: italic; }
        header .container .right .no h3 span {
          font-size: 19px; }

.main {
  width: 796px;
  background-color: #ff7b00;
  padding: 10px 20px; }

.details {
  background-color: #ffffff;
  padding: 20px; }
  .details .container .border {
    border: 2px solid #ff7b00;
    padding: 5px; 
    font-size: small;
  }
  .details .container h3 {
    font-style: italic;
    color: #222;
    width: 100%;
  
    top: 0;
    left: 0;
    margin-bottom: 10px; }
    .details .container h3:after {
      width: 90%;
      
      bottom: 4px;
      right: 15px;
      content: '';
      height: 1px;
      background-color: #222; }
  .details .container .first, .details .container .third, .details .container .fourth {
    display: flex;
    gap: 40px; }
    .details .container .first .date, .details .container .third .date, .details .container .fourth .date {
      width: 45%; }
      .details .container .first .date:after, .details .container .third .date:after, .details .container .fourth .date:after {
        width: 71%;
        right: 0; }
    .details .container .first .name:after, .details .container .third .name:after, .details .container .fourth .name:after {
      width: 90%;
      right: -26px; }
  .details .container .third .mob:after {
    width: 60%; }
  .details .container .third .service:after {
    width: 50%; }
  .details .container .fourth .date {
    width: 100%; }
    .details .container .fourth .date:after {
      width: 50%; }
  .details .container .fourth .ven:after {
    right: -20px;
    width: 50%; }
  .details .container .second h3:after {
    width: 83%; }
  .details .container .grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    text-align: center; }
    .details .container .grid div {
      border: 2px solid #ff7b00; }
      .details .container .grid div .heading {
        font-size: 15px;
        padding: 10px 0px;
        background-color: #ff7b00; }
      .details .container .grid div .img {
        height: 110px;
        width: 100%;
        color: black;
        font-size: 10px;
      }
        .details .container .grid div .img img {
          width: inherit;
          height: inherit; }

.charges {
  font-style: italic;
  margin: 10px 0px;
  background-color: #fff;
  color: #222;
  padding: 5px; 
  font-size: small;
}
  .charges .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .charges .container .boy, .charges .container .dec {
      width: 100%;
      position: relative;
      top: 0;
      left: 0; }
      .charges .container .boy:after, .charges .container .dec:after {
        width: 50%;
        position: absolute;
        bottom: 4px;
        content: '';
        height: 1px;
        background-color: #222; }

.last {
  margin: 10px 0px;
  background-color: #fff;
  color: #222;
  padding: 5px;
  font-style: italic; }
  .last .container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    font-size: small;
  }
    .last .container .top h3, .last .container .bottom h3 {
      width: 100%;
      
      top: 0;
      margin-bottom: 5px;
      left: 0; }
      .last .container .top h3:after, .last .container .bottom h3:after {
        width: 50%;
       
        bottom: 4px;
        content: '';
        height: 1px;
        background-color: #222; }
        @media print {
          #printPageButton {
            display: none;
          }
        }
/*# sourceMappingURL=style.css.map */
